html {
  font-family: 'helvetica neue';
}
td {
  background: var(--bs-orange);
}

a:link {
  color: rgb(0, 0, 0);
}

/* visited link */
a:visited {
  color: rgba(0, 128, 0, 0);
}

/* mouse over link */
a:hover {
  color: rgb(255, 255, 255);
}

/* selected link */
a:active {
  color: rgba(0, 0, 255, 0);
} 