html {
    font-family: 'helvetica neue';
  }
  
h1 {
    color: black;
    padding: 5px 10px 10px 10px;
}

#heading {
    font-size: 300%;
    text-align: center;
  }

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 45%;
    padding: 5px 5px 5px 55px;
  }
  
  /* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
    align-items: center;
  }

/* unvisited link */
a:link {
    color: rgb(255, 255, 255);
  }
  
  /* visited link */
  a:visited {
    color: rgba(0, 128, 0, 0);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(255, 255, 255);
  }
  
  /* selected link */
  a:active {
    color: rgba(0, 0, 255, 0);
  }

  h2{
    text-align: center;
    font-size: 200%;
    padding-top: 50px;
  }